body{
    margin: 0;
}
.headerSocial{
    background: #ffb342;
    height: 45px;
    box-shadow: 10px rgb(41, 40, 40);
}
.homeMenu{
    background-color: rgba(51,102,204, 0.6);
    font-size: 17pt;
    color: white;
}
[bt]{
    color: white;
    margin-left: auto;
}
.social{
    text-align: right;
    float: right;
    margin-top: 5px;
    font-size: 25pt;
    margin-right: 12PX;
    color: rgb(93, 93, 196)
}
.social:hover{
    cursor: pointer;
}
.bg-img{
    background-image: url(../img/city-bg-red.png);
    min-height: 210px;
    margin-top: 5px;
}
.navbar{
    text-align: right;
}
.collapse { margin: 0 auto }
.navbar-nav { display: flex; justify-content: center }